.hero {
    padding-top: 2em;
    padding-bottom: 4em;
    text-align: center;
}

#subtagHero {
    color:#d8e3e7;
    padding-bottom: 4em;
}

.custom-shape-divider-bottom-1622407448 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1622407448 svg {
    position: relative;
    display: block;
    width: calc(140% + 1.3px);
    height: 157px;
}

.custom-shape-divider-bottom-1622407448 .shape-fill {
    fill: #d8e3e7;
}

.cardSection {
    background-color:#d8e3e7;
    padding-bottom: 1em;
}

.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

.getEmails {
    padding-top: 3em;
    padding-bottom: 2em;
    text-align: center;
}